/.vscode
/.idea
/.git
/credit_rating/result/
/automation/flex_gui/VCI1104/build/
/automation/flex_gui/VCI1104/dist/
/automation/flex_gui/VCI1104/FLEX_PROD/
/automation/flex_gui/VCI1104/tesseract/
/automation/flex_gui/VCI1104/venv_vci1104/
/automation/flex_gui/F220001/build/
/automation/flex_gui/F220001/dist/
/automation/flex_gui/F220001/FLEX_PROD/
/automation/flex_gui/F220001/tesseract/
/automation/flex_gui/F111001/_FLEX_PROD
/automation/product/dist/
/automation/FLEX_UAT_7_4.107
/automation/trading_service/giaodichluukyRework/exeFile
*.png
*.jpg
*.xlsx
*.xls
*.csv
*.pptx
*.pdf
*.rpt
*.exe
*.7z
*.zip